{% extends '_base.html' %}

{% block page_title %}About Us{% endblock page_title %}

{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div class="card" style="width: 50rem;">
            <div class="card-header d-flex justify-content-center">
                About Word Counter App
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">What is Word Counter?</h5>
                <p class="card-text">
                    The Word Counter App is a simple yet effective tool designed to count the number of words in any
                    text inputted by the user. This tool is helpful for writers, students, content creators, and anyone
                    who needs to quickly analyze the length of their text.
                </p>
                <h6 class="text-center mt-4">Key Features:</h6>
                <ul class="list-group mt-3">
                    <li class="list-group-item">Count the total number of words in a sentence.</li>
                    <li class="list-group-item">Display the list of individual words in the sentence.</li>
                    <li class="list-group-item">Simple, user-friendly interface for easy access.</li>
                    <li class="list-group-item">Fast and efficient word count analysis.</li>
                </ul>
                <h6 class="text-center mt-4">How it Works:</h6>
                <p class="card-text">
                    Simply enter a sentence into the text box, and the app will automatically count the number of words
                    and display each word individually along with the word count.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
