{% extends '_base.html' %}

{% block page_title %}Word Counter{% endblock page_title %}

{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div class="card" style="width: 50rem;">
            <div class="card-header d-flex justify-content-center">
                Word Counter App
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">Enter Your Sentence To Count!</h5>
                <form method="POST" action="{% url 'word_count' %}">
                    {% csrf_token %}
                    <input type="text" name="text" class="form-control mt-3" placeholder="Enter text" value="{{ text }}" required>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Count</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if word_count is not None %}
        <div class="d-flex justify-content-center mt-5">
            <div class="card" style="width: 50rem;">
                <div class="card-header d-flex justify-content-center">
                    Result
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Your sentence has {{ word_count }} words.</h5>
                    <ul class="list-group mt-3">
                        {% for word in words %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="fw-bold">{{ forloop.counter }}.</span>
                                <span>{{ word }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
{% endblock content %}
